In [8]:
import pandas as pd 
import os

In [10]:
# 读取指定的数据目录
path = r'./for循环--Data/datas'

# 构造一个空列表用于存储所有的文件数据
datas = []
for filename in os.listdir(path):
    # 判断文件格式
    if filename.find('txt') != -1:
        # 读取txt格式的数据
        data = pd.read_csv(path + '\\' + filename,sep = '\t')
    else:
        # 读取csv格式的数据
        data = pd.read_csv(path + '\\' + filename)
    # 将读取到的每一个数据集存储到datas列表中
    datas.append(data)
# 将所有的数据集进行合并
final_data = pd.concat(datas)
final_data.head()

       Uid       Order_Date    Order_Id  Pay_Type     Pay_Amt  Is_Discount
0  4117113   2018/1/1 14:00  5072593051         9  354.437318            0
1  6319114   2018/1/27 7:44  1763884055         8  877.829721            0
2  6313113   2018/1/11 4:42  8087758399         5  402.286639            0
3  5012120  2018/1/20 15:43  1399659363         8   44.290222            1
4  6211111   2018/1/27 0:56  8890112009         5   55.402985            0